
EscapeGame/Temp/

EscapeGame/Assets/Photon Unity Networking/Resources/PhotonServerSettings\.asset

EscapeGame/Assets/Photon Unity Networking/Resources/PhotonServerSettings\.asset\.meta

EscapeGame/Assets/Photon Unity Networking/Resources/
